@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
	/**/
	.header
		.top-mnu
			font-size: 14px
		.slider-text-wrap
			margin-left: 10%
			.slider-text
				p
					font-size: 24px
			.slider-text-view
				p
					a
						font-size: 18px



	.section_1
		.image_preview_wrap
			.image_empty_box
				width: 330px
				height: 360px
			.image_preview_box
				width: 340px
				height: 380px
			.text_preview_wrap
				left: 364px
				top: 100px
				.text_preview_box
					width: 430px
					height: 150px
					.text_preview_title
						h3
							font-size: 20px
						p
							font-size: 14px
				.s1-button
					width: 59px
					height: 59px
					margin: 33px 10px
					&:nth-of-type(2)
						margin: 190px 10px 33px 81px 
					.button_inside_1
						width: 59px
						height: 59px
						line-height: 59px
					.button_inside_2
						width: 59px
						height: 59px
						line-height: 59px

	


	.section_3
		height: 768px
		.gray_wall
			.container-fluid
				padding: 60px 60px 60px 80px
				.s3-adv_wrap
					padding: 10px 60px 20px
				// margin-right: 20px
		.s3-description_wrap
			.s3-description_text
				p
					font-size: 12px
				a
					font-size: 12px


	.section_4
		.container-fluid
			.s4-left_category_wrap
				a
					font-size: 18px
			.s4-right_wrap
				.s4-right_wrap_inner
					.s4-right_wrap_content
						.row
							.s4-item
								.s4-item_preview
									h4
										font-size: 14px
									p
										font-size: 18px
										padding-top: 10px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	/**/
	.header
		.top-right-mnu
			.search-wrap
				.search
					width: 230px
					form 
						button
							color: #222
		.slider-text-wrap
			margin-left: 5%
			.slider-text
				p
					font-size: 22px
			.slider-text-view
				p
					a
						font-size: 18px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.header
		.logo
			h1
				font-size: 16px

		.top-right-mnu
			padding-top: 7px
			.search-wrap
				height: 24px
				line-height: 24px
				.search
					width: 210px
					height: 24px
					border-radius: 8px
					i.fa.fa-search
						line-height: 24px
						height: 24px
					span
						line-height: 24px
						height: 24px
					i.fa
						font-size: 14px
					form
						height: 24px
						width: 220px 
						#search-form
							height: 24px
							border: 0
							padding: 0
							line-height: 24px
							background: none
							display: inline-block
							font-style: italic
							font-size: 13px
							color: #f5f5f5
							width: 140px
							margin-right: 45px
						#second-search-form
							height: 24px
						button
							height: 24px
							width: 24px
							line-height: 24px
							right: 30px
							border-radius: 0 8px 8px 0
							font-size: 15px
							i.fa
								height: 18px
		.slider-text-wrap
			// padding-top: 150px


	.section_1
		.section_title
			padding-right: 20px
			text-align: right
			h2
				white-space: nowrap
				line-height: 27pt
		.image_preview_wrap
			.text_preview_wrap
				.text_preview_box
					width: 380px


	.section_2
		.container
			.s2-image_wrap
				height: 420px
				.s2-image_empty_box
					width: 280px
					height: 390px
				.s2-image_prewiew_box
					width: 300px
					height: 380px



	.section_3
		.gray_wall
			&::before
				width: 33%
			.s3-description_wrap
				.s3-title_wrap
					.s3-title_first
						h2
							margin: 35px 0 0px
							font-size: 22px
					.s3-title_second
						z-index: 2
						h2
							color: #aaa
							margin: 0px 0 30px
							font-size: 22px
					.s3-title_empty_box
						width: 170px
			.s3-description_text
				p
					font-size: 12px
				a
					font-size: 12px
			.row
			.s3-adv_wrap
				// margin-left: 7%
				.adv-item
					padding-top: 20px
					p
						&:first-child
							padding-left: 40px
							font-size: 40px
							margin: 5px 0
						&:nth-child(2)
							font-size: 18px
						&:last-child
							color: #a1a1a1
							font-size: 12px


	.section_4
		.container-fluid
			.s4-left_wrap
				.s4-title_wrap
					h2
						font-size: 20px
					.s4-title_empty_box
						height: 110px
						width: 210px
						top: 24px
			.s4-right_wrap
				.s4-right_wrap_inner
					.s4-right_wrap_content
						.row
							.s4-item
								.s4-item_preview

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header
		padding-left: 50px
		.gray-wall
			.owl-carousel
				.owl-dots
					left: 16%
			.main-slider
				left: 0px
				padding-left: 70px
		.top-right-mnu
			padding-right: 100px
			.search-wrap
				.top-botton
					display: inline-block
		.top-mnu-wrap
			display: none
		.slider-text-wrap
			// padding-top: 120px
			.slider-text
				p
					font-size: 18px
			.slider-text-view
				p
					a
						font-size: 16px


	.section_1
		.section_title
			text-align: center
			white-space: nowrap
			padding-bottom: 20px
			h2:last-child
				margin-top: 0
				text-align: center
		.image_preview_wrap
			.owl-carousel
				.owl-stage
					width: 1000px
			.text_preview_wrap
				left: 340px
				width: 450px
				.owl-carousel
					width: 450px
				.s1-button:nth-of-type(2)
					margin-left: 104px


	.section_2
		.container
			.s2-text-wrap
				.s2-text_preview_text
					p
						font-size: 14px
					a
						font-size: 14px
			.s2-image_wrap
				height: 400px
				.s2-image_empty_box
					height: 380px
				.s2-image_prewiew_box
					left: 10px
					width: 280px
					height: 350px



	.section_3
		.gray_wall
			&::before
				width: 100%
				height: 30%
			.container-fluid
				padding: 0 30px
				.s3-description_wrap
					display: block
					.s3-title_wrap
						padding: 30px
						.s3-title_first
							text-align: center
							h2
								margin: 0
						.s3-title_second
							text-align: center
							h2
								margin: 0
						.s3-title_empty_box
							display: none
					.s3-description_text
						display: none
				.s3-adv_wrap
					display: block
					height: auto
					.adv-item
						height: 280px



	.section_4
		padding: 0 0px
		.container-fluid
			.s4-left_wrap
				.s4-title_wrapforwrap
					padding-left: 0
					.s4-title_wrap
						text-align: center
						.row
							margin: 0
						.s4-title_first
							h2
								margin: 0
						.s4-title_second
							padding-left: 15px
							h2
								margin: 0
						.s4-title_empty_box
							left: 0
							right: 0
							width: 100%
							display: none

			.s4-left_category_wrap
				display: inline-block
				padding-top: 4%
				padding-right: 20px
				padding-bottom: 14px
				text-align: center
				padding-left: 20px
				width: 100%

				a
					display: inline-block
					padding: 0 15px
					&:hover
						padding-right: 15px

			.s4-right_wrap
				.s4-right_wrap_inner
					.s4-right_wrap_content
						.row
							padding: 10px
							.s4-item
								margin: 1%
								width: 48%
								height: 48%


	.section_5
		padding: 0
		.container
			margin: 0
			width: 100%
		.s5_mobile_title
			display: block
			padding: 55px 0 40px
			h3
				color: #585858
				font-family: "RalewayRegular", sans-serif
				letter-spacing: 1px
				font-size: 20px
				font-weight: 400
		.s5-left_wrap
			padding-left: 0
			height: 500px
			.s5-left_map
				width: 100%
				border: none
				height: 500px
			.s5-left_empty_box
				display: none
		.s5-right_wrap
			display: none


	.main_footer
		padding-top: 40px
		.f-title
			padding-bottom: 20px
		.f-info
			display: none
			.f-title
				h1
			ul
				li


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/

	.header
		padding-left: 0
		padding-top: 0px
		min-height: 480px
		&::before
			opacity: .7
		.gray-wall
			.owl-carousel
				&::before
					display: none
				.owl-dots
					width: 100%
					left: 0
					text-align: center
				.owl-stage-outer
					.owl-stage
						.owl-item
							.slide
								&::before
									opacity: .55
			.main-slider
				left: 0px
				top: 0
				padding-left: 0
		.logo_wrap
			background-color: #222
			opacity: .9
			padding: 15px 20px
			position: relative
			.butter
				display: inline-block
				padding: 0 10px
			.logo
				padding-left: 10px
				text-align: left
				display: inline-block
			.search
				display: inline-block
				position: absolute
				right: 5px
				top: 17px
		.top-right-mnu
			padding-right: 0
			padding-left: 0
			display: none
			.search-wrap
				text-align: center
				.search
					background-color: #555
					opacity: .8
				.top-botton
					display: none
			.top-mnu-wrap
				display: none
		.slider-text-wrap
			width: 100%
			padding-top: 25vh
			text-align: right
			margin-left: 0
			padding-right: 25px

			.slider-text-view
				p
					margin: 8px 0
	.other_header
		min-height: 70px
		height: 70px

	.section_1
		padding-top: 50px
		padding-bottom: 0
		width: 100%
		.row
			width: 100%
		.section_title
			h2
				font-size: 20px
				line-height: 28pt
		.image_preview_wrap
			padding-top: 20px
			height: 220px
			width: 100%
			.owl-carousel
				width: 100%
			.image_empty_box
				border: none
			.image_preview_box
				display: none
			.text_preview_wrap
				top: 0px
				left: auto
				right: 0
				width: 100%
				position: absolute
				.image_preview_box
					width: 200px
					height: 200px
					top: 0
					left: 40px
					z-index: 1
					display: block
					left: 55%
				.owl-carousel
					right: 0
					height: 250px
					width: 100%
					.owl-stage-outer
						width: 100% //100%!
						height: 250px
						.owl-stage
							width: 100%
							.owl-item
								width: 100%
								margin: 0 0
								// user-select:auto
				.text_preview_box
					height: 200px
					margin-top: 0
					z-index: 2
					width: 90%
					margin-left: 40px
					margin-right: 40px
					.text_preview_title
						h3
							font-size: 16px
							width: 250px
						p
							font-size: 12px
						p:nth-of-type(2)
							font-size: 12px
							text-align: right
						.text_preview_button_wrap
							background-color: #444
							margin-top: 22px
							.text_preview_button
								display: inline-block
								padding: 0
								margin: 0
								width: 25%
								height: 60px
								text-align: center
								line-height: 60px
								font-size: 20px
								font-family: "FontAwesome"
								font-weight: 100
								color: #c3c3c3
				.s1-button
					display: none


	.section_2
		padding: 50px 15px
		background-image: url("../img/bg-for-s2_gray_8.jpg")
		background-position: 50% 50%
		strong
			color: #36312f
		.container
			.s2-image_wrap
				z-index: 0

				.s2-image_empty_box
					border: 2px solid #999
					width: 150px
					height: 170px
					bottom: 35%
					display: none
					&:nth-child(2)
						border: 2px solid #999
						width: 140px
						height: 160px
						right: 30px
						bottom: 30%
						display: none
				.s2-image_prewiew_box
					display: none
			.s2-text_wrap
				z-index: 10
				.s2-text_preview_text

	.section_3
		height: auto
		padding-bottom: 15px
		.gray_wall
			.container-fluid
				.s3-adv_wrap
					.adv-item
						height: auto
						text-align: center
						p
							&:first-child
								padding-left: 0


	.section_4
		.container-fluid
			.s4-right_wrap
				.s4-right_wrap_inner
					.s4-right_wrap_content
						.row .s4-item
							.s4-item_preview
								h4
									font-size: 12px
									padding: 5px 0
								p
									font-size: 14px
									padding-top: 0

	.section_5
		.s5_mobile_title
			padding: 35px 0 20px
			h3
				font-size: 16px

	.main_footer
		font-size: 14px
		.f-title
			h1
				font-size: 16px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

	.header
		.logo.on
			opacity: 0
	.section_1
		padding-bottom: 0px
		.container
			.row
				width: auto
				.section_title
					padding-right: 0
					padding-left: 20px
		.image_preview_wrap
			padding: 0 5% 
			text-align: center
			height: auto
			width: 100%
			.owl-carousel
				display: none
			.image_empty_box
				display: none
			.image_preview_box
				display: none
			.text_preview_wrap
				width: 100%
				display: block
				position: static
				.owl-carousel
					display: block
					position: static
					height: auto
					.owl-stage-outer
						height: 100%
						.owl-stage
							height: 100%
							.owl-item
								height: 100%
								margin-bottom: 20px
								margin-left: -2px
				.text_preview_box 
					height: auto
					padding: 0
					width: 83%
					.image_preview_box
						display: block
						position: static
						text-align: center
						width: 100%
						height: auto
						padding: 0
						box-shadow: none
					.text_preview_title
						padding-top: 20px
						h3
							width: auto
							text-align: center
						p
				.text_preview_box
			.s1-button
				.button_inside

	.section_1
		.image_preview_wrap
			.owl-carousel
				position: static

	.section_2
		background-position: 50% 42%
		padding-top: 0
		.container
			padding: 0
			.s2-image_wrap
				display: none
				text-align: center
				.s2-image_empty_box
					display: none
					&:nth-child(2)
						border: 2px solid #999
			.s2-text_wrap
				width: 100%
				z-index: 10
				.s2-text_title
					div:nth-child(2)
						width: 100%
						margin: 0
						text-align: center
					.first_col
						margin: 00px
						text-align: center
					h2
						line-height: 28pt
						font-size: 20px
				.s2-text_preview_text
					text-align: center
					font-size: 14px


	.section_4
		.container-fluid
			.s4-left_category_wrap
				a
					font-size: 14px
			.s4-right_wrap
				.s4-right_wrap_inner
					.s4-right_wrap_content
						.row
							.s4-item
								.s4-item_preview
									h4
										font-size: 8px
									p
										10px

	.section_5
		.s5-left_wrap
			height: 350px
			.s5-left_map
				height: 350px

 .main_footer
		font-size: 10px
		.f-title
			h1
				font-size: 14px
		.f-address
			padding-left: 32px
			.ad-logo
				p
					font-size: 26px
		.f-contact_phone
			padding-right: 38px
			.phone_logo
				font-size: 26px
		.copyright
			font-size: 10px

	.forms 
		h4:last-of-type
			padding-right: 10%
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

