@import config

// CUSTOM USER STYLES & IMPORTS

#instructions 
	position: absolute
	color: #fff
	bottom: 0
	padding-bottom: 6px
	font-family: sans-serif
	width: 100%
	text-align: center
	pointer-events: none

// ------------------------------ preloader ----------------------------------

@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)
.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #000
	z-index: 1010
.loader
	display: inline-block
	width: 35px
	height: 35px
	position: relative
	border: 1.5px solid #F1F2F0
	top: 50vh
	left: 50%
	margin-left: -20px
	margin-top: -20px
	animation: loader 1.9s infinite ease
.loader-inner
	vertical-align: top
	display: inline-block
	width: 100%
	background-color: #fff
	animation: loader-inner 1.9s infinite ease-in
@keyframes loader
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(-180deg)
	50%
		transform: rotate(-180deg)
	75%
		transform: rotate(-360deg)
	100%
		transform: rotate(-360deg)

@keyframes loader-inner
	0%
		height: 0%
	25%
		height: 0%
	50%
		height: 100%
	75%
		height: 100%
	100%
		height: 0%
	

// ------------------------------ Main style for all pages ----------------------------------


body
	background-color: #fff
	height: 100%
	.overlay-glass
		display: none
		z-index: 15
		height: 100vh
		width: 100%
		position: fixed
		top: 0
		left: 0
	.overlayIt
		display: block
	.blurIt
		filter: blur(2px)	
	.contactme-line
		position: fixed
		z-index: 200
		top: 50%
		cursor: pointer
		.contactme-line-wrapper
			height: auto
			width: auto
			position: relative
			.contactme-link
				font-size: 12px
				text-transform: uppercase
				text-decoration: none
				letter-spacing: 0.15em
				background-color: #000
				color: #F2F3F1
				font-family: $avenirNext-light
				white-space: nowrap
				transition: all .2s ease
				padding: 18px 20px
				&:after
					background: none repeat scroll 0 0 transparent
					bottom: 17px
					content: ""
					display: block
					height: 1px
					left: 50%
					position: absolute
					background: #F2F3F1
					transition: width 0.3s ease 0s, left 0.3s ease 0s
					width: 0
				&:hover:after
					width: 78.5%
					left: 10%		
	.contactme-wrapper
		transition: all 1s ease
		z-index: 999
		position: fixed
		top: 0
		left: 100%
		transform: translateX(0%)
		width: 100%
		height: 100vh
		background-color: #000
		opacity: 1
		overflow: scroll
		.contactme-text-wrapper
			padding: 60px 100px 0 40%
			color: #fff
			h3
				font-size: 30px
				line-height: 1.2em
				padding-bottom: 12px
			p
				font-size: 14px
				line-height: 33px
			.text-description
				font-size: 40px
				.contacts-info
					p
						margin: 0 0
						font-family: $avenirNext-Demi
			.form
				padding-left: 0
				padding-bottom: 50px
				max-width: 550px
				margin-left: 0
				label
					color: #fff

		.contactme-empty-wrapper
			height: 160px
	.contactme-wrapper.active
		transform: translateX(-135%)
	.author-sec-wrapper.active
		transform: translateX(-135%)
	.header
		position: fixed
    left: 0
    top: 0
		height: 80px
		width: 100%
		display: flex
		align-items: center
		padding: 0 50px
		z-index: 20
		background-color: #fff
		opacity: .97
		.logo
			opacity: 1
			transition: all .2s ease
			&:hover
				opacity: .7
			img
				height: auto
				width: 120px
		.menu
			margin: -12.5px -12.5px 0 auto
			.menuWrapper
				ul
					padding: 0
					margin: 0
					display: flex
					vertical-align: baseline
					.menu-item
						text-decoration: none
						outline: 0
						padding: 35px 12.5px
						font-size: 14px
						color: #707070
						-webkit-transition: all .15s ease-out
						transition: all .15s ease-out
						a
							color: #707070
						a:hover
							color: #1D1D1D
					.current_page_item
						a
							color: #333
							font-family: $avenirNext-Demi
				.navigation
					vertical-align: baseline
					.navLink
						text-decoration: none
						outline: 0
						padding: 35px 12.5px
						font-size: 14px
						color: #707070
						-webkit-transition: all .15s ease-out
						transition: all .15s ease-out
					.navLink:hover
						color: #1D1D1D
					.navLink.active
						font-family: $avenirNext-light
					
	.overlay-wrapper
		.mainPage
			.social
				position: fixed
				display: flex
				flex-direction: column
				bottom: 0
				z-index: 11
				.socialLink
					width: 30px
					padding-bottom: 20px
					display: flex
					align-items: center
					justify-content: center
					transition: all .1s ease
					opacity: .6
					&:hover
						opacity: 1
					img
						max-height: 15px
					&:nth-last-child(1)
						padding-bottom: 55px
			.categories::-webkit-scrollbar 
  			display: none
			.categories
				width: calc(100% - 240px)
				margin-left: auto
				display: flex
				flex-wrap: wrap
				position: relative
				height: 100vh
				.wallpapers
					overflow: hidden
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					z-index: 9
					img
						object-fit: cover
						position: absolute
						width: 100%
						height: 100%
						z-index: -1
						opacity: 0 
						visibility: hidden
						transition: all .2s ease
					img.wall-0
						z-index: 8
						opacity: 0.25
						visibility: visible
					img.show
						z-index: 100
						opacity: 0.85
						opacity: 1
						visibility: visible				
				.category:hover
					.categoryName
						transform: scale(1)
					.keys
						.key
							opacity: 1
				.category
					z-index: 10
					width: 50%
					height: 50%
					display: flex
					position: relative
					justify-content: center
					transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1)
					&:hover
					.categoryName
						font-size: 48px
						font-weight: 700
						transform: scale(.375)
						transition: transform .2s
						color: #1d1d1d
					.keys
						padding: 3vmin 5vmin
						width: 100%
						position: absolute
						left: 0
						bottom: 0
						justify-content: center
						display: flex
						flex-wrap: wrap
						.key
							opacity: 0
							transition: all .3s ease
							color: #707070
							margin-right: 20px
							font-size: 14px
							line-height: 29px
	.visual-box
		color: #fff
	.interective-box
		color: #fff
body
	.main-header
		background: none

//Page - Home
body.home
	overflow: hidden

//All styles + Page - Web Design 
.body
	padding-top: 80px
	.wrapper
		height: 100%
		padding-right: 50px
		.row
			height: 100%
			.text-wrapper
				padding: 0
				height: max-content
				display: block
				padding-bottom: 60px
				animation: fadeIn
				animation-duration: 0.8s
				.text-title
					padding-left: 50px
					padding-top: 40px
					font-size: 48px
					font-family: $avenirNext-Bold
					padding-bottom: 25px
				.text-description
					padding-left: 50px
					padding-right: 50px
					p
						line-height: 33px
						font-size: 14px
			.img-wrapper
				display: flex
				height: 100%
				animation: fadeInRight
				animation-duration: 2s
				.main-box
					width: 100%
					height: 100%
					display: block
					margin-right: 20px	
					img
						width: 100%
						height: 100%
						min-width: 270px
						object-fit: cover
				.little-wrapper
					display: flex
					flex-direction: column
					.first-box
						display: flex
						width: 100%
						height: 50%
    				max-height: 50%
						.box-description
							font-family: $avenirNext-Bold
							font-size: 30px
							line-height: 1.2em
					.secondary-box
						display: flex
						max-height: 50%
						width: 100%
						img
							max-width: 100%
.footer-menu
	width: 100%
	position: fixed
	bottom: 0
	left: 0
	padding: 30px 50px
	background: rgba(255,255,255,0)
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(55%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)))
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%)
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%)
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%)
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 )
	.menuWrapper
		ul
			display: flex
			padding: 0
			margin: 0
			.current-menu-item
				color: #333
				font-family: $avenirNext-Demi
			.menu-item
				padding-right: 18px
				a
					color: #1D1D1D
					font-size: 14px
		.navLink
			padding-right: 15px
			color: #1D1D1D
			font-size: 14px 

//Page - Consulting
body
	.body
		height: auto
		.page-consulting
			text-align: center
			padding: 0 50px
			height: 70vh
			.row
				height: 100%
				.consul-img-wrapper
					padding: 0 30px 0 10px
					animation: fadeInDown
					animation-duration: 2.3s
					.main-box
						margin: 0
				.consul-text-wrapper
					animation: fadeIn
					animation-duration: 1.2s
					.text-title
						padding: 40px 20px 25px 20px
					.text-description
						font-size: 40px
						padding: 0 10px
				.consul-second-img-wrapper
					padding: 0 10px 0 30px
					display: flex
					height: 100%
					animation: fadeInDown
					animation-duration: 2.6s
					.little-wrapper
						display: flex
						flex-direction: column
						.third-box
							display: none
						.secondary-box
							display: flex
							width: 100%
							img
								max-width: 100%
						.first-box
							padding-top: 20px
							display: flex
							width: 100%
							height: 50%
							max-height: 50%
							.box-description
								font-family: $avenirNext-Bold
								font-size: 26px
								line-height: 1.4em
								text-align: right

//Page - Front-End	
body
	.body 
		.wrapper.page-front-end 
			padding-left: 50px
			padding-right: 50px
			.row 
				.text-wrapper 
					animation: fadeIn
					animation-duration: 0.8s
					padding-right: 10px
					.text-title
						text-align: right
						padding-right: 0
					.text-description
						padding-right: 0
						text-align: right
				.img-wrapper 
					animation: fadeInLeft
					animation-duration: 2s
					.little-wrapper 
						margin-right: 0
						.secondary-box 
							img
								object-fit: cover
						.first-box
							padding-top: 20px
							.box-description
								font-size: 26px
								line-height: 1.4em
					.main-box 
						padding: 0
						img
							min-width: 100%
							width: 100%

//Page - Back-End
body
	.body
		height: auto
		.page-backend
			text-align: center
			padding: 0 50px
			height: 70vh
			.row
				height: 100%
				.backend-img-wrapper
					padding: 0 10px 0 30px
					animation:  fadeInRight
					animation-duration: 1.7s
					.main-box
						margin: 0
				.backend-text-wrapper
					animation: fadeIn
					animation-duration: 1.2s
					.text-title
						padding: 40px 10px 25px 10px
						h2
							text-align: center
					.text-description
						font-size: 40px
						padding: 0 10px
				.backend-second-img-wrapper
					padding: 0 30px 0 10px
					display: flex
					height: 100%
					animation: fadeInLeft
					animation-duration: 1.7s
					.little-wrapper
						display: flex
						flex-direction: column
						.third-box
							display: none
						.secondary-box
							display: flex
							width: 100%
							img
								max-width: 100%
						.first-box
							padding-top: 20px
							display: flex
							width: 100%
							height: 50%
							max-height: 50%
							.box-description
								font-family: $avenirNext-Bold
								font-size: 26px
								line-height: 1.4em
								text-align: right			

//Page - Portfolio
body
	.body.portfolio
		height: 100%
		.wrapper.page-portfolio
			display: flex
			height: auto
			will-change: transform
			padding-right: 10px
			.row::-webkit-scrollbar 
  			display: none
			.row
				height: calc(100vh - 150px + 3px)
				overflow-x: auto
				flex-wrap: nowrap
				width: auto
				.text-wrapper
					padding-bottom: 0
					animation: fadeIn
					animation-duration: 0.5s
					.text-title
						margin-right: 100px
						padding-left: 60px
						padding-right: 100px
					.text-description
						padding-left: 60px
						a
							color: #000
							font-family: $avenirNext-Demi
							cursor: pointer
							&:hover
								text-decoration: underline
						.scroll-text
							padding: 20px 0 0 170px
							font-size: 30px
							color: #707070
				.big-img-wrapper
					display: flex
					height: 100%
					animation: fadeIn
					animation-duration: 0.5s
					.main-box
						height: 100%
						margin: 0 5px
						img
							height: 100%
							max-width: none
					.second-box
						display: flex
						flex-direction: column
						width: max-content
						.first-line
							height: 50%
							flex-direction: row
							width: max-content
							padding-bottom: 2.5px
							img
								object-fit: cover
								height: 100%
							a:nth-child(1)
								img
									width: 50vh
							a:nth-child(2)
								img
									width: 70.7vh
									padding-right: 1px
							a:nth-child(3)
								img
									width: 30vh
						.second-line
							width: max-content
							height: 50%
							flex-direction: row
							padding-top: 2.5px
							img
								object-fit: cover
								height: 100%
							a:nth-child(1)
								img
									width: 80vh
							a:nth-child(2)
								img
									width: 40.6vh
					.third-box
						height: 100%
						margin: 0 5px
						a
							img
								object-fit: cover
								width: 70vh
								height: 100%
								max-width: none
					.fourth-box
						display: flex
						flex-direction: column
						width: max-content
						.first-line
							height: 50%
							flex-direction: row
							width: max-content
							padding-bottom: 2.5px
							img
								object-fit: cover
								height: 100%
							a:nth-child(1)
								img
									width: 80.6vh
						.second-line
							width: max-content
							height: 50%
							flex-direction: row
							padding-top: 2.5px
							img
								object-fit: cover
								height: 100%
							a:nth-child(1)
								img
									width: 45vh
									padding-right: 1px
							a:nth-child(2)
								img
									width: 35vh
					.fifth-box
						height: 100%
						margin: 0 5px
						img
							object-fit: cover
							width: 70vh
							height: 100%
							max-width: none
					.sixth-box
						display: flex
						flex-direction: column
						width: max-content
						.first-line
							height: 50%
							flex-direction: row
							width: max-content
							padding-bottom: 2.5px
							img
								object-fit: cover
								height: 100%
							img:nth-child(1)
								width: 35vh
								padding-right: 1px
							img:nth-child(2)
								width: 45vh
						.second-line
							width: max-content
							height: 50%
							flex-direction: row
							padding-top: 2.5px
							img
								object-fit: cover
								height: 100%
							img:nth-child(1)
								width: 80.6vh

//Page - About
body
	.body
		height: auto
		.page-about
			text-align: left
			padding: 0 50px
			height: 70vh
			.row
				height: 100%
				.about-img-wrapper
					padding: 0 30px 0 10px
					animation: fadeIn
					animation-duration: 0.5s
					.main-box
						margin: 0
				.about-text-wrapper
					animation: fadeIn
					animation-duration: 0.5s
					.text-title
						padding: 40px 20px 25px 10px
					.text-description
						font-size: 40px
						padding: 0 10px
						.alsoBox
							p
								margin: 0
								padding-top: 20px
								line-height: 10px
							.profileLink
								display: inline
							a
								font-family: $avenirNext-Demi
								color: #000
								cursor: pointer
								&:hover
									text-decoration: underline
				.about-second-img-wrapper
					padding: 0 10px 0 30px
					display: none
					height: 100%
					.little-wrapper
						display: flex
						flex-direction: column
						.third-box
							display: none
						.secondary-box
							display: flex
							width: 100%
							img
								max-width: 100%
						.first-box
							padding-top: 20px
							display: flex
							width: 100%
							height: 50%
							max-height: 50%
							.box-description
								font-family: $avenirNext-Bold
								font-size: 30px
								line-height: 1.2em
								text-align: right

//Page - Contacts
body
	.body
		height: auto
		.page-contacts
			text-align: left
			padding: 0 50px
			height: 70vh
			.row
				height: 100%
				.contacts-img-wrapper
					padding: 0 10px 0 30px
					display: flex
					flex-direction: column
					animation: fadeIn
					animation-duration: 0.5s
					.main-box
						margin: 0
						display: flex
					.contacts-info
						text-align: right
						padding-top: 30px
						font-family: $avenirNext-Bold
				.contacts-text-wrapper
					animation: fadeIn
					animation-duration: 0.5s
					.text-title
						padding: 40px 20px 25px 10px
					.text-description
						font-size: 40px
						padding: 0 10px
						.contacts-info
							display: none
							p
								margin: 0 0
								font-family: $avenirNext-Demi
				.contacts-second-img-wrapper
					padding: 0 10px 0 30px
					display: none
					height: 100%
					animation: fadeIn
					animation-duration: 0.5s
					.little-wrapper
						display: flex
						flex-direction: column
						.third-box
							display: none
						.secondary-box
							display: flex
							width: 100%
							img
								max-width: 100%
						.first-box
							padding-top: 20px
							display: flex
							width: 100%
							height: 50%
							max-height: 50%
							.box-description
								font-family: $avenirNext-Bold
								font-size: 30px
								line-height: 1.2em
								text-align: right

	.success // The form
		color: #fff
		font-family: $avenirNext-light, sans-serif
		font-size: 12px
		position: fixed
		top: 0px
		left: 20%
		display: block
		text-align: center
		z-index: 100
		overflow: hidden
		height: 60px
		width: 60%
		background-color: #333
		border-radius: 0 0 30px 30px
		opacity: .9
		padding: 10px 10px
		transition: all .5s ease
		transform: translateY(-70px)
		p
			margin: auto
		p:first-child
			font-size: 14px
			font-family: $avenirNext-Demi, sans-serif
			margin-bottom: 5px
	.success.active
		transform: translateY(0px)
	.success.active ~ *
		filter: blur(2px)
	.form
		width: auto
		padding-left: 10px
		padding-top: 20px
		padding-bottom: 30px
		margin: auto
		position: relative
		transition: all .6s ease
		overflow: scroll
		p
			color: #333
			padding: 15px 0
			font-size: 14px
		label
			width: 49%
			color: #333
			font-size: 14px
			display: inline-block
			padding-right: 10px
			padding-bottom: 15px
			font-family: $avenirNext-Demi
			&.form-message
				width: 98%
				textarea
					height: auto
					width: 100%
					border: none
					background-color: #f8f8f8
					padding: 10px
					font-family: $avenirNext-light
					font-size: 14px
					min-height: 50px
					opacity: 1
					resize: none
					&:focus
						&::placeholder
							color: transparent
						&::placeholder
							color: transparent
						&::webkit-input-placeholder
							color: transparent
						&::moz-placeholder
							color: transparent
						&::ms-input-placeholder
							color: transparent
			span
				display: block
				padding-top: 0px
				padding-bottom: 10px
			input, select
				width: 100%
				height: 40px
				padding-left: 10px
				border: none
				font-size: 14px
				color: #333
				font-family: $avenirNext-light
				background-color: rgb(248, 248, 248)
				&:autocomplete
					background-color: rgb(248, 248, 248)
				&:focus
					&::placeholder
						color: transparent
					&::placeholder
							color: transparent
					&::webkit-input-placeholder
						color: transparent
					&::moz-placeholder
						color: transparent
					&::ms-input-placeholder
						color: transparent
			select
				color: #333
		.button-wrap
			width: 100%
			text-align: center
			button
				width: 185px
				height: 40px
				background-color: $accent
				border: none
				font-size: 12px
				color: #fbfbfb
				transition: .15s ease
				&:hover
					background-color: #e16134
				&:active
					background-color: #e86a3f
				&:focus
					background-color: #f47b50


@import media
